.grid_container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    width: fit-content;
}

.Tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    background-image: linear-gradient(#0001ff, #0001ff);
    background-repeat: no-repeat;
    transition: background-size .25s, color .25s;
    background-position: 50% 50%;
    background-size: 0% 0%;
}

.Tile[is_colored="true"] {
    background-size: 100% 100%;
    color: #fff;
}

.Tile[is_start="true"] {
    background-color: #00ff00;
}

.Tile[is_finish="true"] {
    background-color: #ff0000;
}

.button_pane {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}
