.grid_container {
    display: grid;

    width: fit-content;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.Tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    /*background-color: white;*/
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    background-image: linear-gradient(#000000, #000000);
    background-repeat: no-repeat;
    transition: background-size .25s, color .25s;
    background-position: 50% 50%;
    background-size: 0% 0%;
}

.Tile[is_wall="true"] {
    background-size: 100% 100%;
    color: #fff;
}

.Tile[is_start="true"] {
    background-color: #00ff00;
}

.Tile[is_finish="true"] {
    background-color: #ff0000;
}

.Tile[is_discovered="true"] {
    background-image: linear-gradient(limegreen, limegreen);
    background-size: 100% 100%;
    transition: background-size .25s;
}

.button_pane {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

.Tile[is_path_colored="true"] {
    background-image: linear-gradient(#0000ff, #0000ff);
    background-size: 100% 100%;
    transition: background-size .25s;
}